fieldset{
  background-color: lightyellow;
  border:10px solid yellow;
  width: 720px;
}
label{
  width: 180px;
  display: inline-block;
  text-align: right;
  text-align: top;
}
label:hover {
  font-size: 40px;
}

input:hover{
  font-size: 40px;
}

#check{
  width:auto;
}

#textarea{
  width: 360px;
  height: 50px;
}
#min-description{
  text-align:center;
  background-color: red;
}
#max-description{
  text-align: :center;
  background-color: purple;
}
